name: Backend CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["main", "develop"]

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            mongodb:
                image: mongo:latest
                ports:
                    - 27017:27017
            minio:
                image: minio/minio:latest
                ports:
                    - 9000:9000
                env:
                    MINIO_ROOT_USER: minioadmin
                    MINIO_ROOT_PASSWORD: minioadmin
                    options: >-
                        --health-cmd "curl -f http://localhost:9000/minio/health/live"
                        --health-interval 10s
                        --health-timeout 5s
                        --health-retries 5

        steps:
            - uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: gradle

            - name: Create MinIO Bucket
              run: |
                  docker run --network host minio/mc \
                    alias set local http://localhost:9000 minioadmin minioadmin && \
                  docker run --network host minio/mc \
                    mb local/uxstudio-contacts && \
                  docker run --network host minio/mc \
                    anonymous set public local/uxstudio-contacts

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
              working-directory: ./backend

            - name: Build and Test with Gradle
              run: ./gradlew build
              working-directory: ./backend
              env:
                  SPRING_DATA_MONGODB_URI: mongodb://localhost:27017/contacts_db
                  S3_ENDPOINT: http://localhost:9000
                  S3_ACCESS_KEY: minioadmin
                  S3_SECRET_KEY: minioadmin
                  S3_BUCKET: uxstudio-contacts
