name: Backend CI

on:
    push:
        branches: ["**"]
    pull_request:
        branches: ["main", "develop"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: gradle

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
              working-directory: ./backend

            - name: Build and Test with Gradle
              run: ./gradlew build
              working-directory: ./backend
