name: Backend CI

on:
    push:
        branches: ["main", "develop"]
    pull_request:
        types: [opened, synchronize, reopened]
        branches: ["main", "develop"]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: gradle

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew
              working-directory: ./backend

            - name: Build and Analyze
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                  PR_NUMBER: ${{ github.event.pull_request.number }}
                  PR_HEAD_REF: ${{ github.event.pull_request.head.ref }}
                  PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
              run: |
                  if [ "${{ github.event_name }}" == "pull_request" ]; then
                    ./gradlew build jacocoTestReport sonar \
                      -Dsonar.pullrequest.key="$PR_NUMBER" \
                      -Dsonar.pullrequest.branch="$PR_HEAD_REF" \
                      -Dsonar.pullrequest.base="$PR_BASE_REF"
                  else
                    ./gradlew build jacocoTestReport sonar
                  fi
              working-directory: ./backend
