name: Backend CI

on:
  push:
    branches:
      - '**'
    paths:
      - 'backend/**'
      - '.github/workflows/backend-ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./backend

      - name: Build and Test with Gradle
        run: ./gradlew build
        working-directory: ./backend
        env:
          SPRING_DATA_MONGODB_URI: mongodb://localhost:27017/contacts_test